aside {
  /* Specyfikacja wyglądu */
  float: right;
  width: 550px;
  padding: 5px;
}

aside h1 {
  margin: 0;
  font-size: 2vw;
  animation-name: red_blue_shift;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

aside h2 {
  margin: 0;
  font-size: 2vw;
}

footer {
  /* Specyfikacja wyglądu */
  clear: both;
  padding: 10px;
  font-size: 1vw;
}

@keyframes red_blue_shift {
  from {
      color: red;
  }

  to {
      color: blue;
  }
}

a {
  font-size: 0.75vw;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 3vw;
  margin: 5px;
}

main {
  /* Specyfikacja wyglądu */
  float: left;
  width: 450px;
  clear: left;            
  padding: 10px;
  padding-bottom: 40px;
  font-size: 0.75vw;
}

main h1 {
  margin: 0;
}

main blockquote {
  margin: 0;
  overflow-x: auto;
}

nav {
  float: left;
}

nav ul {
  margin: 20px 0px;
}

nav li {
  width: 80px;
  margin-left: 10px;
}

.azure {
  background-color: azure;
}

.glow_shadow {
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px black;
  margin: 9px;
}

@media screen and (min-width: 0px) and (max-width: 590px) {

  body {
      margin: 0;
  }

  aside,
  header,
  footer,
  main,
  nav {
      box-sizing: border-box;
      width: 100vw;
      float: none;
  }

  main{
    font-size: 2vw;
  }
  a{
    font-size: 6vw;
  }

  h1,h2{
    font-size: 6vw;
  }
  aside h1, aside h2{
    font-size: 6vw;
  }
  blockquote{
    font-size: 3vw;
  }

}